<ion-header>
  <ion-toolbar class="toolbar-superior">
    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" (click)="profile()"></app-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- Contenido principal / Cuerpo sector amarillo-->
<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12" size-sm="6">
        <div class="image-container">
          <canvas id="sales-daily-chart"></canvas>
          <div class="overlay">
            <h3>Ventas Diarias</h3>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <div class="image-container">
          <canvas id="sales-weekly-chart"></canvas>
          <div class="overlay">
            <h3>Ventas Semanales</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6">
        <div class="image-container">
          <canvas id="sales-monthly-chart"></canvas>
          <div class="overlay">
            <h3>Ventas Mensuales</h3>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <div class="image-container">
          <canvas id="sales-annual-chart"></canvas>
          <div class="overlay">
            <h3>Ventas Anuales</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row class="ion-align-items-start">
      <ion-col>
        <div class="calendar">
          <h1>Top Centrales</h1>
          <div class="day-and-activity" *ngFor="let item of rankingCentrales">
            <div class="day">
              <h1>{{item.lugar}}</h1>
              <p>Lugar</p>
            </div>
            <div class="activity">
              <h2>{{ item.central.nombre_central }}</h2>
              <div class="participants">
                <img *ngFor="let empleado of item.empleados" [src]="empleado.img_usuario" alt="" />
              </div>
              <h2>Ventas Totales: {{ item.ventas }}</h2>
            </div>
            <button class="btn" (click)="verCentral(item)">Ver Central</button>
          </div>
        </div>
      </ion-col>

      <ion-col>
        <div class="personal-bests">
          <h1>Opciones</h1>
          <div class="personal-bests-container">
            <div class="best-item box-one" (click)="garitas()">
              <p>Centrales</p>
              <img src="https://cdn-icons-png.flaticon.com/512/2761/2761008.png" alt="" />
            </div>
            <div class="best-item box-two" (click)="pasajeros()">
              <p>Cuentas</p>
              <img src="https://cdn-icons-png.flaticon.com/512/2491/2491957.png" alt="" />
            </div>
            <div class="best-item box-three" (click)="config()">
              <p>Configuraciones</p>
              <img src="https://cdn-icons-png.flaticon.com/512/6063/6063673.png" alt="" />
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col>
        <div class="active-calories">
          <h1 style="align-self: flex-start">Actividad General <br>
            Meta Anual: {{ meta_anual | currency : "CLP" }}
          </h1>
          <div class="active-calories-container">
            <div class="box" style="--i: {{porcentaje_meta}}%">
              <div class="circle">
                <h2>{{porcentaje_meta}}<small>%</small></h2>
              </div>
            </div>
            <div class="calories-content">
              <p><span>Hoy:</span> {{ ventas_hoy | currency : "CLP" }}</p>
              <p><span>Semana:</span> {{ ventas_semanal | currency : "CLP" }}</p>
              <p><span>Mes:</span> {{ ventas_mes | currency : "CLP" }}</p>
              <p><span style="color: green;">General:</span> {{ ventas_totales | currency : "CLP" }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner/admin" txt_icon="Aplicación" icon="settings-outline"></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner" txt_icon="Inicio" icon="home-outline"></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner/central" txt_icon="Cuentas" icon="person-outline"></app-menu-master>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>