<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="button-close" [routerLink]="['/main/owner/central/centrales']">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid *ngIf="central" class="ion-no-padding">
    <ion-row>
      <ion-col class="pefil" style="display: flex; flex-direction: column;align-items: center;">
        <ion-buttons>
          <ion-button slot="start">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
          <p>{{ central.nombre_central }}</p>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form *ngIf="central" [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="pefil" style="display: flex; flex-direction: column;align-items: center;">
          <app-avatar-large [img]="form.value.img_central"></app-avatar-large>
          <app-profile-boton-edit name="create-outline" (click)="takeImage()"></app-profile-boton-edit>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row class="ion-padding profile-description">
            <ion-col>
              <app-custom-input icon="person-outline" autocomplete="nombre_central" type="text"
                label="Nombre de Central" [control]="form.controls.nombre_central"></app-custom-input>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input label="Comuna" [value]="comuna.nombre_comuna" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <app-custom-input icon="cash-outline" autocomplete="tarifa_diurna_central" type="number"
                [control]="form.controls.tarifa_diurna_central" label="Tarifa Diurna"></app-custom-input>
            </ion-col>
            <ion-col>
              <app-custom-input icon="cash-outline" autocomplete="tarifa_nocturna_central" type="number"
                [control]="form.controls.tarifa_nocturna_central" label="Tarifa Nocturna"></app-custom-input>
            </ion-col>
          </ion-row>

          <hr>
          <h1>Presidentes / Administradores</h1>
          <ion-row>
            <ion-col *ngIf="!central.presidente">
              <p>Selecciona al Presidente de la Central de Colectivos</p><br>
              <ion-list>
                <ion-item>
                  <ion-select aria-label="Fruit" placeholder="Selecciona Presidente" formControlName="presidente">
                    <ion-select-option  *ngFor="let item of presidentes" [value]="item.uid">{{ item.name }} - {{ item.rut_usuario }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>

            <ion-col *ngIf="central.presidente">
              <h6>Presidente Actual: {{ presidente.name }} - {{ presidente.rut_usuario }}</h6>
              <p>Selecciona al Presidente de la Central de Colectivos si deseas Cambiarlo</p><br>
              <ion-list>
                <ion-item>
                  <ion-select aria-label="Fruit" placeholder="Selecciona Presidente" formControlName="presidente">
                    <ion-select-option  *ngFor="let item of presidentes" [value]="item.uid">{{ item.name }} - {{ item.rut_usuario }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
            Guardar Central
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>