ion-toolbar{
    --background: #FFFFFF;
}

p{
    margin-top: 0;
    font-size: 12px;
    color: #404040;
}

ion-icon{
    font-size: 20px;
    font-weight: 800;
    
}

.color-activo{
    color: #1A1528
}

.color-desactivado{
    color: #404040;
}