<ion-menu menuId="adminMenu" contentId="admin-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <strong>Menú</strong>
        <div class="admin">
          V I A J A <strong style="color: #000;">PRO</strong>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/ruta1">Admin</ion-item>
      <ion-item routerLink="/ruta2">Admin</ion-item>
      <ion-item routerLink="/ruta2">Admin</ion-item>
      <ion-item routerLink="/ruta2">Admin</ion-item>
      <ion-item>
        <ion-button color="danger" (click)="signOut()" expand="block" mode="ios" class="submit" type="submit">
          Cerrar Sesión
          <ion-icon slot="end" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="adminMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Inicio</strong>
      <div class="admin">
        V I A J A <strong style="color: #FFC300;">PRO</strong>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal / Cuerpo sector amarillo-->
<ion-content id="admin-content">

</ion-content>