<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="button-close" [routerLink]="['/main/administrador/admin/vehiculos']">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="d-flex">
    <ion-list>
      <ion-item *ngIf="vehiculo">
        <ion-avatar slot="start" *ngIf="vehiculo.img_vehiculo" slot="start">
          <img alt="avatar" [src]=vehiculo.img_vehiculo />
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!vehiculo.img_vehiculo" slot="start">
          <img alt="avatar" [src]="imagenDefault" />
        </ion-avatar>

        <ion-label>{{ vehiculo.patente_vehiculo }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="wifi" slot="start"></ion-icon>
        <ion-label>Wi-Fi</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="bluetooth" slot="start"></ion-icon>
        <ion-label>Bluetooth</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
        <ion-label>Cellular</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>