ion-content{
    --background: #FFFFFF;
}

.pefil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-close{
    height: 32px;
    width: 32px;
    background: #1A1528;
    border-radius: 30px;
    color: #FFFFFF;
}

.submit{
    --background: #1A1528;
}


ion-content{
    --background: #FFFFFF;
}

.pefil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-close{
    height: 32px;
    width: 32px;
    background: #1A1528;
    border-radius: 30px;
    color: #FFFFFF;
}

.submit{
    --background: #1A1528;
}


ion-item-sliding{
    background: #FAFAFA;

    ion-buttons{
        height: 37px;
        width: 150px;
        border-radius: 25px;
        background: #1A1528;
        font-weight: 600;
        color: #FFFFFF;

        p{
            margin-left: 5px;
        }
       

        ion-button{
            background-color: #FF8811;
            color: #1F1F1F;
            --height: 24px;
            --width: 30px;
            border-radius: 15px;

            ion-icon{
                --height: 18px;
                --width: 18px;
            }
        }
    }

    ion-item-option:hover{
        background: #e1e0e0;
    }
    ion-item-option{
        background: #FAFAFA;

        .icon-option{
            color: #1F1F1F;
        }
    }
}