ion-col > ion-buttons{
    height: 36px;
    width: 143px;
    border-radius: 25px;
    background: #1A1528;
    font-weight: 600;
    color: #FFFFFF;

    p{
        margin-left: 5px;
    }
   

    ion-button{
        background-color: #FF8811;
        color: #1F1F1F;
        --height: 24px;
        --width: 24px;
        border-radius: 15px;

        ion-icon{
            --height: 18px;
            --width: 18px;
        }
    }
}

ion-content{
    --background: #FFFFFF;
}

.pefil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-close{
    height: 32px;
    width: 32px;
    background: #1A1528;
    border-radius: 30px;
    color: #FFFFFF;
}

.submit{
    --background: #1A1528;
}


ion-item{
    background: #FAFAFA;

    ion-buttons{
        height: 36px;
        border-radius: 25px;
        background: #1A1528;
        font-weight: 600;
        color: #FFFFFF;

        p{
            margin-left: 5px;
        }
       

        ion-button{
            background-color: #FF8811;
            color: #1F1F1F;
            --height: 24px;
            --width: 24px;
            border-radius: 15px;

            ion-icon{
                --height: 18px;
                --width: 18px;
            }
        }
    }

    ion-item-option:hover{
        background: #e1e0e0;
    }
    ion-item-option{
        background: #FAFAFA;

        .icon-option{
            color: #1F1F1F;
        }
    }
}

.card {
    margin: 0 auto;
    width: 300px;
    height: 120px;
    opacity: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: linear-gradient(to right, #ffc400a4, #6d6e036e);
    margin-bottom: 50px;
}

.card img {
    position: absolute;
    width: 100%;
    display: block;
    margin-top: -5%;
}

.card-info {
    background: linear-gradient(to right, #ffc400a4 34%, #6c6e03b0 100%);
    padding: 20px;
    color: #000;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 700;
}

.card-info h3 {
    font-size: 22px;
    font-weight: bold;

}

.arrow {
    background-color: #2a2a2a;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 2px solid #a5a500;
}

.arrow:hover {
    background-color: #a5a500;
    color: #2a2a2a;
    cursor: pointer;
}