<ion-header>
  <ion-toolbar class="toolbar-superior">
    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" (click)="profile()"></app-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal / Cuerpo sector amarillo-->
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="overlap-group">
          <div class="group">
            <img class="bmw-coupe" src="assets/chofer/duty.svg" />
          </div>
          <div class="group-2" *ngIf="!usuario.en_ruta">
            <div class="text-wrapper-2">¡Comienza a Trabajar!</div>
            <ion-button color="primary" expand="block" mode="ios" (click)="entrarEnServicio()">
              Entrar en Servicio
              <ion-icon slot="end" name="enter-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="group-2" *ngIf="usuario.en_ruta">
            <div class="text-wrapper-2">¡Termina tu Jornada!</div>
            <ion-button color="danger" expand="block" mode="ios" (click)="salirServicio()">
              Salir de Servicio
              <ion-icon slot="end" name="exit-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <hr>
    <ion-row *ngIf="usuario.en_ruta">
      <ion-col>
        <div class="overlap-group">
          <div class="group">
            <img class="bmw-coupe" src="assets/chofer/ruta.svg" />
          </div>
          <div class="group-2">
            <div class="text-wrapper-2">¿No conoces la ruta?, mírala</div>
            <ion-button color="primary" expand="block" mode="ios" (click)="backRuta()">
              Ver Ruta
              <ion-icon slot="end" name="map-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="usuario.en_ruta">
      <ion-col>
        <div class="overlap-group">
          <div class="group">
            <img class="bmw-coupe" src="assets/chofer/asiento.svg" />
          </div>
          <div class="group-2">
            <div class="text-wrapper-2">¡Actualiza los asientos disponibles!</div>
            <ion-button color="primary" expand="block" mode="ios" (click)="verAsientos()">
              Gestionar Asientos
              <ion-icon slot="end" name="car-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="usuario.en_ruta">
      <ion-col>
        <div class="overlap-group">
          <div class="group">
            <img class="bmw-coupe" src="assets/chofer/opcion.svg" />
          </div>
          <div class="group-2">
            <div class="text-wrapper-2">¿Quieres Cambiar de Ruta?</div>
            <ion-button color="primary" expand="block" mode="ios" (click)="verRutas()">
              Cambiar Ruta
              <ion-icon slot="end" name="apps-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row>
      <ion-col>
        <div class="overlap-group">
          <div class="group">
            <img class="bmw-coupe" src="assets/chofer/car.svg" />
          </div>
          <div class="group-2">
            <div class="text-wrapper-2">¡Visualiza tus vehículos!</div>
            <ion-button color="primary" expand="block" mode="ios" (click)="verVehiculos()">
              Ver Vehículos
              <ion-icon slot="end" name="car-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="overlap-group">
          <div class="group">
            <img class="bmw-coupe" src="assets/chofer/cash.svg" />
          </div>
          <div class="group-2">
            <div class="text-wrapper-2">¡Gestiona tus Finanzas!</div>
            <ion-button color="primary" expand="block" mode="ios" (click)="verFinanzas()">
              Ver Finanzas
              <ion-icon slot="end" name="cash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>