ion-menu::part(backdrop) {
    background-color: #FFC300;
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #FFC300;
}

.admin{
    font-size: 13px;
}

ion-toolbar{
    --color: #fff;
    --background: #000814;
}

ion-icon {
    --color: #000;
}

ion-button{
    --background: #000814;
}

ion-content {
    --background: #FFC300; // Cambia este valor por el color deseado
}
