<ion-header>
  <ion-toolbar class="toolbar-superior">
    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" (click)="profile()"></app-avatar>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<!-- Contenido principal / Cuerpo sector amarillo-->
<ion-content id="admin-content">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <app-header-funtion titulo="Configuración de Aplicación"></app-header-funtion>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-function-item  titulo="Paises" [routerLink]="['/main/owner/admin/paises']" descripcion="Agrega, modifica o elimina fácilmente Paises a la Aplicación." icono="flag-outline"></app-function-item>
          <app-function-item  titulo="Regiones" [routerLink]="['/main/owner/admin/ciudades']" descripcion="Agrega, modifica o elimina fácilmente Regiones a la Aplicación." icono="map-outline"></app-function-item>
          <app-function-item  titulo="Comunas" [routerLink]="['/main/owner/admin/comunas']" descripcion="Agrega, modifica o elimina fácilmente Comunas a la Aplicación." icono="location-outline"></app-function-item>
          <app-function-item  titulo="Bancos" [routerLink]="['/main/owner/admin/bancos']" descripcion="Agrega, modifica o elimina fácilmente Bancos a la Aplicación." icono="cash-outline"></app-function-item>
          <app-function-item  titulo="Marcas y Modelos de Vehículos" [routerLink]="['/main/owner/admin/vehiculos']"  descripcion="Agrega, modifica o elimina fácilmente Marcas y Modelos a la Aplicación." icono="car-outline" ></app-function-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner/admin" txt_icon="Aplicación" icon="settings-outline"></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center"> 
          <app-menu-master url="main/owner" txt_icon="Inicio" icon="home-outline" ></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner/central" txt_icon="Cuentas" icon="person-outline" ></app-menu-master>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>