:root {
  --absolutestaticwhite-s: #FFC300;
  --oil-11: rgba(13, 13, 13, 1);
  --sky-06: rgba(0, 123, 255, 1);
  --oil-05: rgba(171, 171, 171, 1);
  --oil-04: rgba(204, 204, 204, 1);
  --sky-03: rgba(204, 228, 255, 1);
  --oil-03: rgba(230, 230, 230, 1);
  --oil-02: rgba(247, 247, 247, 1);
}

.overlap {
  width: 100%;
  background-color: #ffc400b7;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-wrapper {
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--oil-11);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iris {
  width: 90%;
  height: 80%;
}

.text-wrapper-2 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-11);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-2 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-11);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-3 {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--oil-05);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-11);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.specs-wrapper {
  overflow-x: scroll;
}

.specs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 8px;
  position: relative;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--oil-03);
  height: 50px;
}

.text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-11);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--oil-11);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element-plans-wrapper {
  position: relative;
  overflow-x: scroll;
}

.element-plans {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.element-plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px; /* Añadir un poco de espacio interno */
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--sky-06);
  box-shadow: 0px 0px 12px #2f80ed40;
  width: auto; /* Quitar el ancho fijo */
  height: auto; /* Ajustar la altura según el contenido */
}

.frame-wrapper-two {
  position: absolute;
  width: 44px;
  height: 76px;
  top: 2px;
  left: 2px;
  background-color: var(--sky-03);
  border-radius: 18px 0px 0px 18px;
}

.frame-wrapper {
  width: 44px;
  height: 76px;
  background-color: var(--sky-03);
  border-radius: 18px 0px 0px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
  left: 10px;
}

.img-2 {
  width: 50px;
  height: 50px;
}

.text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--sky-06);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-44 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 15px;
  left: 80px;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  margin-left: 16px; /* Espacio entre imagen y texto */
}

.text-wrapper-8 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-11);
  font-size: 14px;
  white-space: nowrap; /* Mantiene el texto en una línea */
}


.text-wrapper-88 {
  position: relative;
  width: fit-content;
  margin-top: 12px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-11);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.text-down {
  position: relative;
  width: 100%;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--oil-05);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.element-nd-plan {
  position: relative;
  height: 80px;
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--oil-03);
}

.overlap-2 {
  position: absolute;
  width: 44px;
  height: 78px;
  top: 1px;
  left: 1px;
  background-color: var(--oil-02);
  border-radius: 18px 0px 0px 18px;
}

.frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  top: 18px;
  left: 8px;
}

.text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-04);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 18px;
  left: 52px;
}

.text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--oil-04);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--oil-04);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 645px;
}

.location {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--oil-03);
}

.p {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  position: relative;
  width: fit-content;
  color: var(--oil-11);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

