<ion-footer>
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="ion-text-center" (click)="navegar(url_icon_1)">
          <ion-icon [name]="icon_1"></ion-icon>
          <p>{{txt_icon_1}}</p>
        </ion-col>
        <ion-col class="ion-text-center" (click)="navegar(url_icon_2)"> 
          <ion-icon [name]="icon_2"></ion-icon>
          <p>{{txt_icon_2}}</p>
        </ion-col>
        <ion-col class="ion-text-center" (click)="navegar(url_icon_3)">
          <ion-icon [name]="icon_3"></ion-icon>
          <p>{{txt_icon_3}}</p>
        </ion-col>
        <ion-col class="ion-text-center" (click)="navegar(url_icon_4)">
          <ion-icon [name]="icon_4"></ion-icon>
          <p>{{txt_icon_4}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
