<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-superior">
    <ion-buttons slot="start" class="back-button">
      <ion-button [routerLink]="['/main/owner/admin/vehiculos']" class="back-button ion-text-center">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" [routerLink]="['/main/profile']"></app-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <app-header-funtion titulo="Modelos de Vehículos"></app-header-funtion>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <!-- Para listar conductores -->
          <ion-item-sliding *ngFor="let item of modelos">
            <ion-item [button]="true">
              <ion-avatar aria-hidden="true" slot="start" *ngIf="item.img_modelo">
                <img alt="Imagen de {{item.nombre_modelo}}" [src]="item.img_modelo" />
              </ion-avatar>
              <ion-avatar aria-hidden="true" slot="start" *ngIf="!item.img_modelo">
                <img alt="Imagen de {{item.nombre_modelo}}" src="assets/icon/icono_vp_grande.png"/>
              </ion-avatar>

              <ion-label>{{ item.nombre_modelo }}</ion-label>
              <ion-buttons [ngClass]="{noActivo: !item.estado}">
                <ion-button slot="start">
                  <ion-icon name="car-outline"></ion-icon>
                </ion-button>
                <p *ngIf="item.estado">Activado</p>
                <p *ngIf="!item.estado">Desactivado</p>
              </ion-buttons>
            </ion-item>

            <ion-item-options slot="end">
              <ion-item-option (click)="modificar(item)">
                <ion-icon class="icon-option" slot="icon-only" name="pencil"></ion-icon>
              </ion-item-option>

              <ion-item-option expandable="true" (click)="estado(item)">
                <ion-icon *ngIf="item.estado"  class="icon-option" slot="icon-only" name="stop-circle"></ion-icon>
                <ion-icon *ngIf="!item.estado"  class="icon-option" slot="icon-only" name="play-circle"></ion-icon>
              </ion-item-option>

            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" mode="ios" class="submit" (click)="crear()" >
            Agregar Modelo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>