ul {
  margin: 0px;
  padding: 0px;
}

.footer-content {
  padding: 5px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  line-height: 10px;
}
.copyright-area {
  color: #000;
  padding: 1px;
  margin-bottom: 5px;
  text-align: center;
}
.copyright-text p {
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}
.copyright-text p a {
  color: #000;
}
.footer-menu li {
  display: inline-block;
  margin-left: 10px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #000;
}

//download::
@import url("https://fonts.googleapis.com/css?family=Barlow");

ion-button {
  margin-top: 20px; /* Asegúrate de que haya un espacio entre los botones */
}

/* Botones más grandes */
.android-button,
.ios-button {
  font-size: 18px; /* Tamaño de texto más grande */
  padding: 15px 20px; /* Más espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  width: 80%; /* Botones más anchos */
  margin: 10px auto; /* Separación entre botones */
  display: block; /* Asegura que estén en bloque para centrarlos */
  text-align: center;
}

.android-button ion-icon,
.ios-button ion-icon {
  font-size: 24px; /* Iconos más grandes */
  margin-right: 8px;
}

ion-content {
  --background: #ffc300;
  --color: #000 !important;
  font-family: "Barlow", sans-serif;
  position: relative; /* Establecer el contenido como relativo para los elementos que estén dentro */
  z-index: 1; /* Asegurar que el contenido se muestre por encima del sp-container */
  padding-top: 150px; /* Agregar espacio en la parte superior para que los botones no queden debajo */
}
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
h1.main,
p.demos {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.sp-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #ffc300;
}
.sp-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.sp-container h2 {
  position: absolute;
  top: 35%;
  line-height: 100px;
  height: 90px;
  margin-top: -50px;
  font-size: 90px;
  width: 100%;
  text-align: center;
  color: transparent;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  -ms-animation: blurFadeInOut 3s ease-in backwards;
  animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.sp-container h2.frame-2 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.sp-container h2.frame-3 {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.sp-container h2.frame-4 {
  font-size: 90px;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
.sp-container h2.frame-5 {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span {
  -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
  -moz-animation: blurFadeIn 1s ease-in 12s backwards;
  -ms-animation: blurFadeIn 3s ease-in 12s backwards;
  animation: blurFadeIn 3s ease-in 12s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span:nth-child(2) {
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  -ms-animation-delay: 13s;
  animation-delay: 13s;
}
.sp-container h2.frame-5 span:nth-child(3) {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
}
.sp-globe {
  position: absolute;
  width: 282px;
  height: 273px;
  left: 50%;
  top: 50%;
  margin: -137px 0 0 -141px;
  background: #ffc300;
  -webkit-animation: fadeInBack 3.6s linear 14s backwards;
  -moz-animation: fadeInBack 3.6s linear 14s backwards;
  -ms-animation: fadeInBack 3.6s linear 14s backwards;
  animation: fadeInBack 3.6s linear 14s backwards;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -o-transform: scale(5);
  -ms-transform: scale(5);
  transform: scale(5);
}
.sp-circle-link {
  position: absolute;
  left: 50%;
  bottom: 200px;
  margin-left: -50px;
  text-align: center;
  line-height: 100px;
  width: 150px;
  height: 150px;
  background: #ffc300;
  color: #3f1616;
  font-size: 25px;
}

/**/

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(5);
  }
}
@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}
/**/

@-moz-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -moz-transform: scale(0);
  }
}
@-moz-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
}
@-moz-keyframes fadeInBack {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -moz-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -moz-transform: scale(5);
  }
}
@-moz-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -moz-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}
/**/

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}


/* Responsive */
@media (max-width: 768px) {
  .footer-logo img {
    max-width: 150px;
  }

  .footer-text p {
    font-size: 14px; /* Reducir tamaño de texto en móviles */
  }

  .sp-container h2 {
    font-size: 60px; /* Reducir títulos para pantallas pequeñas */
  }
  .sp-container h2.frame-4 {
    font-size: 60px;
  }

  .sp-circle-link {
    bottom: 100px; /* Ajustar posición de los botones */
  }

  .android-button,
  .ios-button {
    font-size: 16px; /* Botones un poco más pequeños */
    padding: 10px 15px;
    width: 100%; /* Usar el 100% del ancho disponible */
    border-radius: 20px;
  }

  .sp-circle-link {
    position: absolute;
    bottom: 200px;
    margin: 0 auto; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar el elemento para que quede centrado */
    text-align: center;
    line-height: 100px;
    width: 250px;
    height: 250px;
    background: #ffc300;
    color: #3f1616;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar texto dentro del círculo */
  }
}

@media (max-width: 576px) {
  .footer-text p {
    font-size: 12px; /* Más pequeño en pantallas muy pequeñas */
  }

  .sp-container h2 {
    font-size: 40px; /* Reducir títulos para pantallas pequeñas */
  }

  .sp-container h2.frame-4 {
    font-size: 40px;
  }

  .android-button,
  .ios-button {
    font-size: 16px; /* Botones un poco más pequeños */
    padding: 10px 15px;
    width: 100%; /* Usar el 100% del ancho disponible */
    border-radius: 20px;
  }

  .sp-circle-link {
    position: absolute;
    bottom: 200px;
    margin: 0 auto; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar el elemento para que quede centrado */
    text-align: center;
    line-height: 100px;
    width: 150px;
    height: 150px;
    background: #ffc300;
    color: #3f1616;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar texto dentro del círculo */
  }
}


@media (min-width: 768px) {
  /* Estilos para pantallas más grandes */
  .footer-logo img {
    max-width: 250px;
  }

  .sp-container h2 {
    font-size: 90px; /* Reducir títulos para pantallas pequeñas */
  }

  .android-button,
  .ios-button {
    font-size: 20px;
    width: 60%;
  }

  .android-button,
  .ios-button {
    font-size: 16px; /* Botones un poco más pequeños */
    padding: 10px 15px;
    width: 100%; /* Usar el 100% del ancho disponible */
    border-radius: 20px;
  }

  .sp-circle-link {
    position: absolute;
    bottom: 200px;
    margin: 0 auto; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar el elemento para que quede centrado */
    text-align: center;
    line-height: 100px;
    width: 150px;
    height: 150px;
    background: #ffc300;
    color: #3f1616;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar texto dentro del círculo */
  }
}