ion-content {
    --background: #FFC300; // Cambia este valor por el color deseado
    .mapa{
        max-height: 40%;
        overflow: hidden;
        width: 100%;
    }
    .titulo{
        font-size: 45px;
        font-weight: 800;
        color: #000814;
        font-family: 'Arial';
    }
    
    .boton_i{
        height:50px;
        --background: #000814;
        --border-radius: 15px;
    }

    .boton_r{
        height:50px;
        --background: #FF8811;
        --border-radius: 15px;
    }
}