ion-button{
    height: 52px;
    width: 52px;
    --background: #1A1528;
    --border-radius: 17px;
    ion-icon{
        height: 24px;
        width: 24px;
        
    }
}

ion-item{
    // height: 60px;
    margin-top: 15px;
}