h1{
    color: #1F1F1F; 
    font-weight: 600;
    font-size: 24px;
}

.header-container{
    background-image: url('../../../../assets/Header\ Background.png');
    height: 96px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

}