<head>
  ...
  <script src="https://js.khipu.com/v1/kws.js"></script>
  ...
</head>
<ion-header>
  <ion-toolbar class="toolbar-superior">
    <ion-buttons slot="start" class="back-button">
      <ion-button class="back-button ion-text-center" [routerLink]="['/main/pasajero']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" (click)="profile()"></app-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Contenido principal / Cuerpo sector amarillo-->
<ion-content [fullscreen]="true">
  <ion-chip *ngIf="routePoints.length > 0" class="tarifa">
    {{routePoints[0].nombre_ruta}}
  </ion-chip>

  <div id="container">
    <capacitor-google-map id="map" #map></capacitor-google-map>


    <ion-modal #modal [isOpen]="isModalOpen" (didDismiss)="deleteDetails()" [initialBreakpoint]="0.25"
      [breakpoints]="[0, 0.25, 0.5, 0.60]">
      <ng-template>
        <ion-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <h5>Detalle</h5>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="display: flex;align-items: center;justify-content: start;color: #9D9D9D;font-size: 14px;">
                Hora de Llegada (aprox.)
              </ion-col>
              <ion-col
                style="display: flex;align-items: center;justify-content: center;text-align:justify;color: #9D9D9D;font-size: 14px;">
                Distancia
              </ion-col>
              <ion-col
                style="display: flex;align-items: center;justify-content: end;text-align: end;color: #9D9D9D;font-size: 14px;">
                Asientos Disponibles
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="display: flex;align-items: center;justify-content: start;">
                <h5 class="detail-time">{{ carDetail.calculo }}</h5>
              </ion-col>
              <ion-col style="display: flex;align-items: center;justify-content: center;">
                <h5 class="detail-time-km">{{ carDetail.distancia }} m</h5>
              </ion-col>
              <ion-col style="display: flex;align-items: center;justify-content: end;">
                <h5 class="detail-time-km">{{ carDetail.asientos }}
                  <ion-icon slot="end" name="ticket-outline"></ion-icon>
                </h5>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="display: flex;align-items: center;justify-content: start;color: #9D9D9D;font-size: 14px;">
                <ion-label>
                  Conductor
                </ion-label>
              </ion-col>
              <ion-col
                style="display: flex;align-items: center;justify-content: center;text-align:justify;color: #9D9D9D;font-size: 14px;">
                <ion-label>
                  Vehículo
                </ion-label>
              </ion-col>
              <ion-col class="ion-text-end"
                style="display: flex;align-items: center;justify-content: end;text-align: end;color: #9D9D9D;font-size: 14px;">
                <ion-label>
                  Patente
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h5>
                  {{carDetail.nombreChofer}}
                </h5>
              </ion-col>
              <ion-col style="display: flex;align-items: center;justify-content: center;">
                <h5>
                  {{carDetail.modelo}}
                </h5>
              </ion-col>
              <ion-col class="ion-text-end">
                <h5>
                  {{carDetail.patente}}
                </h5>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button disabled fill="outline" *ngIf="tarifaNocturna && !tarifaDiurna">
                  Tarifa Nocturna
                  <ion-icon slot="end" name="moon-outline"></ion-icon>
                </ion-button>
                <ion-button disabled fill="outline" *ngIf="tarifaDiurna && !tarifaNocturna" class="button-tarifa">
                  Tarifa Diurna
                  <ion-icon slot="end" name="sunny-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="7">
                <ion-button [disabled]="carDetail.asientos == 0" class="button-pago" expand="block"
                  (click)="startKhipuPayment(carDetail.token)">${{tarifa}}
                </ion-button>
                <ion-note *ngIf="carDetail.asientos == 0">Espere un asiento disponible</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal [isOpen]="mesajeKhipuModal" (didDismiss)="mesajeKhipuModal = false" [initialBreakpoint]="0.25"
      [breakpoints]="[0, 0.25, 0.5, 0.60]">
      <ng-template>
        <ion-content>
          <ion-grid style="text-align: center; padding: 20px;">
            <ion-row>
              <ion-col>
                <img style="height: 60px; width: 60px; margin-bottom: 15px;" [src]="mesajeKhipu.img"
                  alt="Pago Aceptado">
                <h2 style="margin: 0; font-weight: bold; color: #4caf50;">{{mesajeKhipu.titulo}}</h2>
                <ion-label style="display: block; color: #9D9D9D; font-size: 16px; margin-top: 10px;">
                  {{mesajeKhipu.mensaje}}
                </ion-label>
              </ion-col>

              <ion-col>
                <ion-button expand="full" color="primary" href="{{ mesajeKhipu.comprobante }}" target="_blank"
                  download>Descargar Comprobante</ion-button>
                <ion-button expand="full" color="medium" (click)="cerrarModal()">Cerrar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal id="example-modal" #modal [isOpen]="mesajeKhipuModalError" (didDismiss)="mesajeKhipuModalError = false">
      <ng-template>
        <ion-grid style="text-align: center; padding: 20px;">
          <ion-row>
            <ion-col>
              <img style="height: 60px; width: 60px; margin-bottom: 15px;" [src]="mesajeKhipu.img" alt="Pago Rechazado">
              <h2 style="margin: 0; font-weight: bold; color: #af4c4c;">{{mesajeKhipu.titulo}}</h2>
              <ion-label style="display: block; color: #9D9D9D; font-size: 16px; margin-top: 10px;">
                {{mesajeKhipu.mensaje}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>