<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-superior">
    <ion-buttons slot="start" class="back-button">
      <ion-button (click)="backAdmin()" class="back-button ion-text-center">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario"></app-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <ion-grid class="ion-no-padding">
      <ion-row class="profile-img ion-padding">
        <ion-col>
          <ion-row>
            <ion-col style="display: flex; flex-direction: column; align-items: center;">
              <app-avatar-large [img]="form.value.img_usuario"></app-avatar-large>
              <app-profile-boton-edit name="create-outline" (click)="takeImage()" ></app-profile-boton-edit>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <br>
              <h1>{{usuario.name}}</h1>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row class="ion-padding profile-description">
            <ion-col>
              <app-custom-input icon="person-outline" autocomplete="name" type="text" [label]="usuario.name"
                [control]="form.controls.name"></app-custom-input>
            </ion-col>
            <ion-col>
              <app-custom-input icon="mail-outline" autocomplete="email" type="email" [label]="usuario.email"
                [control]="form.controls.email"></app-custom-input>
            </ion-col>
            <ion-col>
              <app-custom-input icon="phone-portrait-outline" autocomplete="telefono_usuario" type="number"
                [label]="'+56 9 '+usuario.telefono_usuario" [control]="form.controls.telefono_usuario">
                ></app-custom-input>
            </ion-col>
          </ion-row>

          <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
            Guardar Perfil
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>