ion-button{
    height: 40px;
    width: 40px;
    border-radius: 17px;
    background-color: #1A1528;
    
    ion-icon{
        color: #FFFFFF;
        height: 26px;
        width: 26px;
    }
    ion-badge {
        --background: #FF8811;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        position:absolute;
        margin-bottom: 30px;
        margin-left: 28px;
    }
}
