<ion-header>
  <ion-toolbar class="toolbar-superior">
    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" (click)="profile()"></app-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <capacitor-google-map id="map" #map></capacitor-google-map>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/chofer/asientos" txt_icon="Asientos" icon="bed-outline"></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/chofer" txt_icon="Inicio" icon="home-outline"></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center">
          <app-menu-master (click)="backRuta()"txt_icon="Mapa" icon="map-outline"></app-menu-master>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

