<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-superior">
    <ion-buttons slot="start" class="back-button">
      <ion-button [routerLink]="['/main/administrador/admin']" class="back-button ion-text-center">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" [routerLink]="['/main/profile']"></app-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <app-header-funtion titulo="Rutas"></app-header-funtion>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar (ionInput)="searchRoutes($event)" ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <!-- Para listar conductores -->
          
            <ion-item [button]="true" *ngFor="let item of filteredRoutes" [routerLink]="['/main/pasajero/map', item.id]">
              <ion-avatar aria-hidden="true" slot="start">
                <img src="assets/icon/ruta_img.svg" alt="Rutas_Imagen">
              </ion-avatar>
              <ion-label> 
                <strong>Nombre de Ruta:</strong> {{ item.nombre_ruta }}
                <p>Estacion San Bernardo, Plaza San Bernardo</p>
              </ion-label>
              <ion-chip class="tarifa" *ngIf="!isNightTime()">
               ${{item.tarifa_diurna}}
              </ion-chip>
              <ion-chip class="tarifa" *ngIf="isNightTime()">
                ${{item.tarifa_nocturna}}
               </ion-chip>
            </ion-item>      
       </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>