<ion-menu menuId="adminMenu" contentId="admin-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <strong>Menú</strong>
        <div class="admin">
          V I A J A <strong style="color: #000;">PRO</strong>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-button color="danger" (click)="signOut()" expand="block" mode="ios" class="submit" type="submit">
          Cerrar Sesión
          <ion-icon slot="end" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar class="toolbar-superior">
    <ion-buttons slot="start">
      <ion-menu-button menu="adminMenu"></ion-menu-button>
    </ion-buttons>

    <app-logo-small></app-logo-small>

    <ion-buttons slot="end">
      <app-campana [notifica]="true"></app-campana>
      <app-avatar [img]="usuario.img_usuario" (click)="profile()"></app-avatar>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<!-- Contenido principal / Cuerpo sector amarillo-->
<ion-content id="admin-content">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <app-header-funtion titulo="Configuración de Aplicación"></app-header-funtion>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-function-item  titulo="Paises" [routerLink]="['/main/owner/admin/paises']" descripcion="Agrega, modifica o elimina fácilmente." icono="flag-outline"></app-function-item>
          <app-function-item  titulo="Ciudades" [routerLink]="['/main/owner/admin/ciudades']" descripcion="Agrega, modifica o elimina fácilmente." icono="map-outline"></app-function-item>
          <app-function-item  titulo="Comunas" [routerLink]="['/main/owner/admin/comunas']" descripcion="Agrega, modifica o elimina fácilmente." icono="location-outline"></app-function-item>
          <app-function-item  titulo="Bancos" [routerLink]="['/main/owner/admin/bancos']" descripcion="Agrega, modifica o elimina fácilmente." icono="cash-outline"></app-function-item>
          <app-function-item  titulo="Marcas y Modelos de Vehículos" [routerLink]="['/main/owner/admin/vehiculos']"  descripcion="Agrega, modifica o elimina fácilmente." icono="car-outline" ></app-function-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner/admin" txt_icon="Aplicación" icon="settings-outline"></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center"> 
          <app-menu-master url="main/owner" txt_icon="Inicio" icon="home-outline" ></app-menu-master>
        </ion-col>
        <ion-col class="ion-text-center">
          <app-menu-master url="main/owner/central" txt_icon="Cuentas" icon="person-outline" ></app-menu-master>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>